<h1>Markets</h1>

<section class="markets">
  <table style="width:80%">
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th></th>
    </tr>
    <% @facade.markets.each do |market| %>
      <tr>
        <div id="market">
          <td><%= market.name %></td> 
          <td><%= market.city %></td>
          <td><%= market.state %></td>
          <td><%= button_to "More Info", "/markets/#{market.id}", method: :get %></td>
        </div>
      </tr>
    <% end %>
  </table>
</section>